<p>bindding-component works!</p>
<div class="container" style="overflow: auto;">
    <h1>-------------- Khái niệm --------------</h1>

    <h1>INTERPOLATION</h1>
    <h6>
        - component trong Angular chỉ là một TypeScript (TS) class thông thường và với một decorator để gắn thêm meta-data như template mà nó định nghĩa là gì.<br/>
        - TS class và template này hoàn toàn không biết đến nhau, Angular xử lý để gắn chúng lại<br/>
        - 
    </h6>

    <h1>-------------- 000000000 --------------</h1>

    <h3>bindding 1 way from component to element </h3>
    <div class="input-group mb-3">
        <input type="text" class="form-control" value={{isBindding}}>
    </div>

    <h3>bindding 1 way from js to scrent [</h3>
    <div class="input-group mb-3">
        <input type="text" class="form-control" [value]="isBindding">
    </div>

    <img src="../../assets/image/bindding-1.png" class="rounded" alt="Cinque Terre">
    <img src="../../assets/image/bindding-2.png" class="rounded" style="width: 100%;" alt="Cinque Terre">
</div>