 <h1>ATTRIBUTE DIRECTIVE: thay đổi cách hiển thị (style) hoặc hành vi của một DOM element/Component/Directive khác</h1>

 <h4>------------------CLASS BINDING------------------</h4> -->
<h6>
    Lý thuyết<br/>
    - Cần thay đổi (thêm, xóa) một số class tùy thuộc vào một số điều kiện nào đó<br/>
    - Ví dụ, nếu chúng ta đang chọn một tab nào đó để hiển thị, thì tab đó sẽ có thêm class tab-active, các tab khác sẽ không có<br/>
    - có thể là string, array string hoặc object – nếu key nào của object là truthy thì sẽ thêm vào, nếu falsy thì sẽ xóa đi.<br/>
    - Mẫu câu: [class]="classExpr"<br/>
</h6>

<h6>Coding</h6>
<img src="../../assets/image/class-attribute-directive.png" class="rounded" alt="Cinque Terre">

<h6>Demo</h6>
<div [class]="classExpr">
  <h1>demo class</h1>
</div>

<br/><br/>
<h4>------------------STYLE BINDING------------------</h4>

<h6>
    Lý thuyết<br/>
    - binding cho style property (inline style), lúc này chúng ta có thể sử dụng Style binding<br/>
    - Mẫu câu: [style.property]=”expression” Với expression sẽ tính toán về các giá trị kiểu string | undefined | null<br/>
    - cú pháp kèm theo unit: [style.property.unit]=”expression” = [style.height.%]=”containerHeight” với containerHeight = number | undefined | null
    - pháp dạng: [style]=”styleExpr” với styleExpr là một trong các dạng:
       + String 	"width: 100%; height: 100%"
       + Array String 	['width', '100px']
       <!-- + Object 	{[key: string]: string | undefined | null} như {width: '100px', height: '100px'} -->
</h6>

<h6>Coding</h6>
<img src="../../assets/image/style-attribute-directive.png" class="rounded" alt="Cinque Terre">

<h6>Demo</h6>
<div [style]='styleExpr'>
  <h1>demo style</h1> 
</div>
